
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#world{
	height: 100%;
	width: 100%;
	
	background-size: 130px;
	background-color: #d1d1d1;
}

#world > *{
	position: absolute;
	transform: rotate(0deg);
}

.droneContainer{
	filter: drop-shadow(8px 8px 2px rgba(0, 0, 0, 0.6));
	z-index: 10000;
}

.drone{
	
}

.projectileContainer{
	
	filter: drop-shadow(8px 8px 2px rgba(0, 0, 0, 0.6)) drop-shadow(0px 4px 10px rgba(255, 230, 0, 0.6));
}

.fuel{
	filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.6)) drop-shadow(0px 0px 20px rgba(255, 230, 200, 1.0));
	right: 400px;
	top: 200px;

	animation-duration: 1.5s;
	animation-name: hover;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(0.5, 0, 0, 0.5)
}

@keyframes hover {
	from {
		filter: drop-shadow(7.0px 7.0px 3px rgba(0, 0, 0, 0.6)) drop-shadow(0px 0px 15px rgba(255, 230, 0, 1.0));
		transform: scale(0.9);
	}

	to {
		filter: drop-shadow(10.0px 10.0px 4px rgba(0, 0, 0, 0.6)) drop-shadow(0px 0px 20px rgba(255, 230, 0, 1.0));
		transform: scale(1);
	}
}


#debugCanvas{
	position: absolute;
	z-index: 100000;
}