
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#world{
	height: 100%;
	width: 100%;
}

#world > *{
	position: absolute;
	transform: rotate(0deg);
}

#background{
	height: 100%;
	width: 100%;
}

#floor{
	height: 100%;
	width: 100%;
	/*position: absolute;
	top: -500%;
	left: -500%;
	transform: rotate(45deg);*/
	background-image: url("../assets/floortile.svg");
	background-size: 130px;
	background-color: #d1d1d1;
}

.droneContainer{
	filter: drop-shadow(8px 8px 2px rgba(0, 0, 0, 0.6));
	z-index: 10000;
	transition: filter;
	transition-duration: 200ms;
	transition-timing-function: ease-out;
}

.droneContainer.hit{
	filter: drop-shadow(8px 8px 2px rgba(0, 0, 0, 0.6)) drop-shadow(0px 0px 3px rgba(255, 0, 0, 1.0));
	transition-duration: 30ms;
}

.drone{
	position: absolute;
}

.numbersContainer{
	position: absolute;
	z-index: 100000000;
	top: -21px;
	width: 100px;
	margin-left: -50px;
	text-align: center;
}

.numbersContainer > object{
	height: 22px;
	filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
	/*transition: transform;
	transition-duration: 250ms;
	transition-timing-function: linear;*/
}

.projectileContainer > div{
	
	filter: drop-shadow(8px 8px 2px rgba(0, 0, 0, 0.6)) drop-shadow(0px 4px 10px rgba(255, 230, 0, 0.6));
}

.fuel{
	filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.6)) drop-shadow(0px 0px 20px rgba(255, 230, 200, 1.0));
	right: 400px;
	top: 200px;

	animation-duration: 1.5s;
	animation-name: hover;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out
}

@keyframes hover {
	from {
		filter: drop-shadow(7.0px 7.0px 3px rgba(0, 0, 0, 0.6)) drop-shadow(0px 0px 15px rgba(255, 230, 0, 1.0));
		transform: scale(0.9);
	}

	to {
		filter: drop-shadow(10.0px 10.0px 4px rgba(0, 0, 0, 0.6)) drop-shadow(0px 0px 20px rgba(255, 230, 0, 1.0));
		transform: scale(1);
	}
}


#debugCanvas{
	position: absolute;
	z-index: 100000;
}

#victoryOverlay{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #999;
	opacity: 0;
	transition: opacity 3s;
}

#victoryOverlay > div{
	color: #FFFF00;
	font-family: sans-serif;
	font-size: 70px;
	text-align: center;
	position: absolute;
	bottom: 50px;
	width: 100%;
	text-shadow: 2px 2px 0px #000000;
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.35));
}

.pressStart{
	font-size: 35px;
	display: block;
}

.batteryHit{
	position: absolute;
	height: 0px;
	width: 0px;
	margin-top: 0px;
	margin-left: 0px;
	box-shadow: 0px 0px 150px #FFBB00 inset;
	border-radius: 10000px;
	
	animation-duration: 300ms;
	animation-name: fuelHit;
	animation-timing-function: linear;
}

@keyframes fuelHit {
	from {
		height: 20px;
		width: 20px;
		margin-top: -10px;
		margin-left: -10px;
		opacity: 1;
	}

	to {
		height: 200px;
		width: 200px;
		margin-top: -100px;
		margin-left: -100px;
		opacity: 0;
	}
}
