
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body{
	font-family: sans-serif;
}

#world{
	height: 100%;
	width: 100%;
}

#world > *{
	position: absolute;
	transform: rotate(0deg);
}

#background{
	height: 100%;
	width: 100%;
}

#floor{
	height: 100%;
	width: 100%;
	/*position: absolute;
	top: -500%;
	left: -500%;
	transform: rotate(45deg);*/
	background-image: url("../assets/floortile.svg");
	background-size: 130px;
	background-color: #d1d1d1;
}

.droneContainer{
	filter: drop-shadow(8px 8px 2px rgba(0, 0, 0, 0.6));
	z-index: 10000;
	transition: filter;
	transition-duration: 200ms;
	transition-timing-function: ease-out;
}

.droneContainer.hit{
	filter: drop-shadow(8px 8px 2px rgba(0, 0, 0, 0.6)) drop-shadow(0px 0px 3px rgba(255, 0, 0, 1.0));
	transition-duration: 30ms;
}

.drone{
	position: absolute;
}

.numbersContainer{
	position: absolute;
	z-index: 100000000;
	top: -21px;
	width: 100px;
	margin-left: -50px;
	text-align: center;
}

.numbersContainer > img{
	height: 22px;
	filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
	/*transition: transform;
	transition-duration: 250ms;
	transition-timing-function: linear;*/
}

.projectileContainer > div{
	
	filter: drop-shadow(8px 8px 2px rgba(0, 0, 0, 0.6)) drop-shadow(0px 4px 10px rgba(255, 230, 0, 0.6));
}

.fuel{
	filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.6)) drop-shadow(0px 0px 20px rgba(255, 230, 200, 1.0));
	right: 400px;
	top: 200px;

	animation-duration: 1.5s;
	animation-name: hover;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out
}

@keyframes hover {
	from {
		filter: drop-shadow(7.0px 7.0px 3px rgba(0, 0, 0, 0.6)) drop-shadow(0px 0px 15px rgba(255, 230, 0, 1.0));
		transform: scale(0.9);
	}

	to {
		filter: drop-shadow(10.0px 10.0px 4px rgba(0, 0, 0, 0.6)) drop-shadow(0px 0px 20px rgba(255, 230, 0, 1.0));
		transform: scale(1);
	}
}


#debugCanvas{
	position: absolute;
	z-index: 100000;
}

#victoryOverlay{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-image: url("../assets/floortile.svg");
	background-size: 300px;
	background-color: #d1d1d1;
	opacity: 0;
	transition: opacity 3s;
}

#victoryOverlay > div{
	color: #FFFF00;
	font-size: 70px;
	text-align: center;
	position: absolute;
	z-index: 10000;
	bottom: 50px;
	width: 100%;
	text-shadow: 2px 2px 0px #000000;
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.35));
	background-color: #666666;
	padding: 13px 0px 20px 0px;
}

.pressStart{
	font-size: 35px;
	display: block;
}

.batteryHit{
	position: absolute;
	height: 0px;
	width: 0px;
	margin-top: 0px;
	margin-left: 0px;
	box-shadow: 0px 0px 150px #FFBB00 inset;
	border: 4px rgba(250, 100, 0, 0.3) solid;
	border-radius: 10000px;
	
	animation-duration: 300ms;
	animation-name: fuelHit;
	animation-timing-function: linear;
	animation-fill-mode: both;
}

@keyframes fuelHit {
	from {
		height: 20px;
		width: 20px;
		margin-top: -10px;
		margin-left: -10px;
		opacity: 1;
	}
	
	30% {
		opacity: 1;
	}

	to {
		height: 200px;
		width: 200px;
		margin-top: -100px;
		margin-left: -100px;
		opacity: 0;
	}
}

.scratch{
	position: absolute;
}

.splatter{
	position: absolute;
}

.cog{
	position: absolute;
}

#startScreen{
	position: absolute;
	z-index: 99999999999999999999;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-image: url("../assets/floortile.svg");
	background-size: 300px;
	background-color: #d1d1d1;
	text-align: center;
}

#startScreen > *{
	display: block;
}

#startScreen > div{
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.3));
	background-color: #666666;
	padding: 13px 0px 20px 0px;
	height: 90px;
	border-radius: 5px;
	margin-top: 50px;
}

#startScreen > div > span{
	font-size: 50px;
	color: #FFFF00;
	text-shadow: 2px 2px 3px #000000;
}

#startScreen > .droneImg{
	position: absolute;
	bottom: 0px;
	right: 0px;
	transform: rotate(135deg);
	filter: drop-shadow(-20px -30px 5px rgba(0, 0, 0, 0.35));
	
	animation-duration: 3s;
	animation-name: startHover;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out
}

#startScreen > #controllerImg{
	margin-top: 160px;
	margin-left: 200px;
	height: 30%;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.35));
}

@keyframes startHover {
	from {
		filter: drop-shadow(-20px -30px 5px rgba(0, 0, 0, 0.35));
		transform: translateY(0px) translateX(0px) rotate(135deg);
	}

	to {
		filter: drop-shadow(-27px -40px 7px rgba(0, 0, 0, 0.35));
		transform: translateY(-10px) translateX(-3px) rotate(135deg);
	}
}

.confetti{
	position: absolute;
	
	animation-name: confetti;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes confetti {
	from {
		transform: translate(0px, 0px) rotate(0deg);
	}

	to {
		transform: translate(0px, 1000px) rotate(1000deg);
	}
}